// @import "reset.scss";
// @import "buttons.scss";

#container {
    position: relative;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

button {
    position: absolute;
    z-index: 1;
    background-color: pink;
    display: none;
}

form {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 400px;
    display: none;
}


#consumer {
    top: 300px;
    left: 700px;
}

#enterprise {
    top: 400px;
    left: 700px;
}

#continue1 {
    top: 450px;
    left: 700px;
    background-color: greenyellow;
}
