// @import "reset.scss";
// @import "buttons.scss";

#container {
    position: relative;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

h1 {
    top: 50px;
    left: 630px;
    position: absolute;
    z-index: 1;
    font-size: 120px;
    font-weight: bold;
    color: white;
    // text-transform: uppercase; /* Convert text to all capitals */
    letter-spacing: 2px; /* Adjust letter spacing as desired */
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; /* Neon glow effect */
    display: none;
}

h3 {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 650px;
    width: 500px;
    color: white;
    text-align: center;
    display: none;
}

#consumer {
    top: 600px;
    left: 500px;
    background-color: hotpink;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

#enterprise {
    top: 600px;
    left: 1100px;
    background-color: greenyellow;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.shark {
    position: absolute;
    width: 150px;
    height: auto;
    animation: swim 8s linear infinite reverse;
    border: white;
}

@keyframes swim {
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

#page2header {
    font-size: 70px;
    top: 50px;
    left: 100px;
    width: 300px;
    position: absolute;
    z-index: 1;
    display: none;
    color: white; /* Neon green color */
}

.span-category {
    position: static;
    width: 100px;
    z-index: 1;
    color: #39ff14; /* Neon green color */
}

button {
    position: absolute;
    z-index: 1;
    background-color: pink;
    display: none;
}

form {
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 600px;
    display: none;
}

form h2 {
    text-align: center;
    color: hotpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid hotpink;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


#playButton {
    top: 450px;
    left: 700px;
    background-color: greenyellow;
}

h1.page3 {
    top: 0px;
    left: 50px;
    position: absolute;
    z-index: 1;
    font-size: 120px;
    font-weight: bold;
    color: white;
    // text-transform: uppercase; /* Convert text to all capitals */
    letter-spacing: 2px; /* Adjust letter spacing as desired */
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; /* Neon glow effect */
    display: none;
}

#submitted-pitch {
    position: absolute;
    padding: 10px;
    top: 230px; /* Adjust the top position as needed */
    left: 80px; /* Adjust the left position as needed */
    width: 500px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 24px;
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.loading-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  position: absolute;
  left: 800px; 
  top: 400px;
  height: 200px;
}

.loading-circle {
  width: 80px;
  height: 80px;
  border: 4px solid #00ff00; /* Green color */
  border-top-color: #ff69b4; /* Hot pink color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


#elon-answer {
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 80px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 16px;
    background-color: transparent;
    border: solid 10px;
}

textarea::placeholder {
    color: white;
}

#beyonce-answer {
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 400px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 16px;
    background-color: transparent;
    border: solid 10px;
}

#warren-answer {
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 710px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 16px;
    background-color: transparent;
    border: solid 10px;
}

#mark-answer {
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 1100px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 16px;
    background-color: transparent;
    border: solid 10px;
}

#serena-answer {
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 1400px; /* Adjust the left position as needed */
    width: 250px; /* Adjust the width as needed */
    height: 430px; /* Adjust the height as needed */
    display: none;
    font-size: 16px;
    background-color: transparent;
    border: solid 10px;
}

